* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

@font-face {
  font-family: "Norse";
  src: url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

img[src*="vegan"] {
  height: 100%;
  margin-left: 20px;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 650px;
  background-image: url(img/meal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logoContainer {
  height: 100px;
  width: 100%;
  position: relative;
  top:680px;
}

.logoHeader {
  position: absolute;
  font-family: "Norse", sans-serif;
  font-size: calc(5.5rem + 1.5vw);
  left: calc(11vw);
  color: rgb(66, 50, 24);
}

.photoTextContainer {
  width: 100%;
  height: 100px;
  position: relative;
  top: 36.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(0.4rem + 0.6vw);
  background: rgb(0, 128, 0, 0.4);
  line-height: 22px;
}

.photoCreditContainer {
  width: 100%;
  height: 2%;
  text-align: center;
  font-size: calc(0.5rem + 0.25vw);
}

/* ------------------------------------------------------------------------------- */

.formContainer {
  width: 70%;
  height: 100vh;
  background-color: rgb(214, 217, 224);
  box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.15);
}

.formHeader {
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 217, 224);
  width: 100%;
  height: 300px;
  color: rgba(0, 0, 0, 0.9);
}

.formField {
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 380px;
}

.formFooter {
  background-color: rgb(214, 217, 224);
  width: 100%;
  height: 250px;
}

h1 {
  margin: 100px 200px 15px 50px;
  color: rgba(0, 0, 0, 0.85);
  width: 850px;
  min-width: 700px;
}

h2 {
  margin-left: 50px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.85);
}

p.warningText {
  margin-left: 50px;
  position: relative;
  top: 50px;
}

form {
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  top: 50px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 260px;
  row-gap: 45px;
  min-width: 900px;
}

h3 {
  font-size: 1.8rem;
  margin-left: 50px;
  position: relative;
  top: 25px;
  color: rgba(0, 0, 0, 0.8);
}

label {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 800;
  letter-spacing: 1px;
}

input {
  height: 35px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  text-indent: 10px;
}

input:focus {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

input:user-invalid {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

button[type="submit"] {
  font-weight: 800;
  font-size: 1.3rem;
  margin-left: 50px;
  width: 200px;
  height: 50px;
  margin-top: 35px;
  background-color: rgb(0, 128, 0, 0.85);
  color: white;
  border-radius: 8px;
}

#errorMessage {
  margin-left: 50px;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 800;
}